/**
 * 	Written by Daniel Kats
 * June 16, 2013
 * 
 * Many of these styles taken from:
 * http://jqueryui.com/slider/#colorpicker
 */

.ui-slider {
	height: 10px;
	margin: 15px;
}

/**
 * 	Make line width slider smaller
 */
.ui-slider .ui-slider-handle { 
	width: 16px;
	height: 16px;
}

#redSlider .ui-slider-range { 
	background: #ef2929; 
}

#red .ui-slider-handle { 
	border-color: #ef2929; 
}

#greenSlider .ui-slider-range { 
	background: #8ae234; 
}

#greenSlider .ui-slider-handle { 
	border-color: #8ae234; 
}

#blueSlider .ui-slider-range { 
	background: #729fcf; 
}

#blueSlider .ui-slider-handle { 
	border-color: #729fcf; 
}

#colourBar canvas {
	text-align center;
	margin: 10px auto;
}

#colourBar #applyColoursButton {
	text-align: center;
	margin-bottom: 10px;
	margin-right: auto !important;
	margin-left: auto !important;
}

#outlineWidth {
	border: 0;
}

.colourField {
	border: 0;
}

.userLabel {
	font-family: sans-serif;
	font-size: .9em;
	text-align: left;
}

#colourBar .userField {
	font-size: .9em;
	text-align: left;
	font-family: "Lucida Console" monospace;
}

#randomColourButton {
	text-align: center;
	margin: 0 auto !important;
}

#colourTypeButtons {
	margin-bottom: 10px;
}

#colourTypeButtons label {
	/*font-size: 1em;*/
}

#accordion {
	padding-top: 10px;
}

.sampleColour {
	border: 1px solid #000;
	height: 25px;
	width: 25px;
	float: left;
	margin: 4px;
}

/**
 * 	Overrides everything except selected.
 */
.sampleColour:hover {
	/*orange border*/
	border: 3px solid #FCBA03 !important;
	margin: 2px;
}
